<div class="">
  <div class="card">
    <div class="card-header">
      <div class="col col-xs-6 text-right">
        <button
          type="button"
          class="btn btn-sm btn-primary btn-create"
          data-toggle="modal"
          data-target=".bd-newCdtModat-modal-lg"
        >
          Nouveau
        </button>
      </div>
    </div>
    <div class="card-body">
      <div class="table_wrapper">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nom complet</th>
              <th scope="col">Userneme</th>
              <th scope="col">Role</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>Mark</td>
              <td>Otto</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
